body {
    background-color: rgb(36, 37, 37);
    color:rgb(158, 54, 13);
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    overflow-x: scroll;
    overflow-y: scroll;
    white-space: nowrap;
}

.game-area {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

/* Game area formatting */
.header-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 0;
    padding-top: 5px;
}

.header-logo {
    font-size: 4rem;
    margin-top: -10px;
}

.new-game-btn {
    margin: 30px;  
    margin-top: -10px;
    padding: 20px;
    border-radius: 10px;
}

.message-box {
    background-color:rgb(158, 54, 13);
    color:rgb(255, 255, 255);
    width: 400px;
    height: 50px;
    border-radius: 10px;
    font-size: 1.4em;
    padding: 20px;
    padding-top: 5px;
    margin-top: 0;
    overflow: scroll;
}

.message-box > p {
    margin: 30px;
}


/* Gameplay Area*/
.gameplay-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;
    padding-left: 30px;
    white-space: nowrap;
}

/* Area with clicker and stats for harvest. */
.harvest-section {
    padding-right: 70px;
    margin-left: 20px;
}

.harvest-section .meal-mined {
    font-size: 1.5em;
    margin-bottom: 0;
}

.harvest-section .meal-per-second {
    margin-top: 0;
    padding: 0;
}

/* Worker list section */
.workers-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;
    height: auto;
    overflow: scroll;
}

.workers-section > h3{
    padding: 0;
    padding-top: 10px;
    margin: 5px;
    margin-top: 10px;
    font-size: 1.4em;
}

.worker-list {
    list-style-type: none;
    width: 210px;
    margin-left: 0;
    padding: 0;
    padding-bottom: 30px;
    height: auto;
}

.worker-item {
    height: 60px;
    width: 200px;
}

.worker-item p {
    padding: 0;
    margin: 0;
}

/* Footer section */

.footer {
    font-size: 1.4em;
    width: 100%;
    height: 100px;
    margin: 0;
    margin-bottom: -100px;
    padding: 30px;
    padding-bottom: -100px;
    background-color: rgb(36, 37, 37);
    color:rgb(158, 54, 13);
}