body {
    background-color: rgb(0, 255, 221);
    color:rgb(153, 13, 158);
}

/* Game area formatting */
.game-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header-logo {
    font-size: 4rem;
}

/* Gameplay Area*/

.gameplay-section {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 60%;
}
